<?xml version='1.0' encoding='utf-8'?>
<widget id="be.gentlesite.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gentle Ultimate</name>
    <description>
        A mobile app for Gentle Ultimate frisbee team.
    </description>
    <author email="peter.morlion@live.be" href="http://petermorlion.blogspot.com">
        Peter Morlion
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
